.dropdown-container{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.dropdown-title{
    margin-right: 0.5em;
}

.dropdown-value{
    cursor: pointer;
}

.dropdown-button-container{
    position: relative;
    max-width: 75px;
}

.dropdown-button-wrapper{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 8px 0px 12px;
    user-select: none;
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    border-radius: 8px;
    justify-content: space-between;
    transition: border-radius 280ms ease 0s;
    border: 1px solid var(--color-border,#E5E7E9);
    background-color: var(--color-page-background,#FFFFFF);
    cursor: pointer !important;
    background-color: #0DA34D;
    border-style: none;
}

.dropdown-button-label{
    overflow: hidden;
    padding-right: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.dropdown-button-label-after{
    display: flex;
    content: "";
    background-image: url(https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/1def3953.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 280ms ease 0s, background-color 0.12s ease 0s;
    transform: rotate(0deg);
    border-radius: 50%;
}

.filter-dropdown-items-container{
    z-index: 1;
    max-height: unset;
    width: 100%;
    overflow: auto;
    position: absolute;
    background: #0DA34D;
    border-radius: 0px 0px 8px 8px;
    transform-origin: center top;
    scroll-behavior: smooth;
    transform: translateY(-8px);
    opacity: 1;
    visibility: visible;
    transition: transform 280ms ease-out 0s, opacity 0.16s ease 0s, visibility 0.16s ease 0s; 
}

.filter-dropdown-hide{
    visibility: none;
    opacity: 0;
    transform: scaleY(0);
}

.filter-dropdown-items-unordered-list{
    list-style: none;
    padding: 0px 8px;
    margin: 4px 0px;
    box-sizing: border-box;
}

.filter-dropdown-items-list{
    cursor: pointer;
    list-style: none;
    outline: none;
    position: relative;
    min-height: 40px;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    padding: 4px 0px;
}

.filter-dropdow-list-button{
    display: flex;
     -webkit-box-align: center;
    align-items: center;
    position: relative;
    padding: 6px 8px 6px 5px;
    color: #fff;
    background-color: transparent;
    min-height: 32px;
    text-align: left;
    line-height: 1.33;
    width: 100%;
    cursor: pointer;
    border: none;
}

.filter-dropdow-list-button:hover{
    opacity: 0.6;
}