.page-loading-container {
  display: flex;
  padding-top: 0px;
  height: 100vh;
  width: 60vw;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  margin: 0px auto;
  transition: all 0.75s ease-in-out;

  @media screen and (max-width: 1280px) {
    width: 90vw;
  }
}

.page-loading-wrapper {
  margin: 0px auto;
  position: relative;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  display: flex;
  flex-direction: column;
}

.page-loading-logo-img {
  height: 160px !important;
  margin: 0px !important;
}

.page-loading-text {
  justify-self: center;
  align-self: center;
  display: flex;
  white-space: pre-line;
  text-align: center;
}
