// MAIN STYLES //
.transaction-cart-container {
  min-height: 100vh;
  min-width: 100vw;
  padding-bottom: 10vh;
  padding-top: 80px;
}

.transaction-cart-wrapper {
  width: 80vw;
  margin: 0px auto;
  position: relative;
  align-items: center;
  -webkit-box-align: center;
  display: flex;
  flex-direction: column;
}
