.creative-store-permission {
  display: flex;
  flex-direction: row;
  height: auto;
  min-height: 100%;
  width: 100%;
  max-width: 1080px;
  overflow-y: scroll;
}

.creative-store-role-container {
  flex: 30%;
  height: auto;
  min-height: 100%;
  flex-direction: column;
  display: flex;
  overflow-y: hidden;
  padding: 0px 16px 0px 8px;
  border-right: 2px solid #2c2f33;
}

.creative-store-role-container:hover {
  overflow-y: scroll;
}

.creative-store-role-element {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 90%;
  height: fit-content;
  justify-content: flex-start;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
}

.creative-store-edit-container {
  flex: 70%;
  height: auto;
  flex-direction: column;
  display: flex;
  overflow-y: hidden;
  padding: 0px 8px 0px 16px;
}

.creative-store-edit-container:hover {
  overflow-y: scroll;
}

.creative-store-edit-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.creative-store-edit-color-picker {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  height: fit-content;
  width: 100%;
  margin-top: 16px;
}

.creative-store-edit-element {
  display: grid;
  grid-template-areas:
    "title tools"
    "description ."
    "description .";
  width: 100%;
  height: fit-content;
  padding: 16px 0px;
  border-bottom: 2px solid #2c2f33;
}

.creative-store-edit-element-item-title {
  grid-area: title;
}

.creative-store-edit-element-item-description {
  grid-area: description;
}

.creative-store-edit-element-item-tools {
  grid-area: tools;
  padding-left: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.creative-store-current-role-color {
  border: none !important;
  box-sizing: content-box !important;
  background-color: transparent;
  padding: 0px !important;
  background: none !important;
  min-width: 50px;
  max-width: 50px;
  min-height: 30px;
  max-height: 30px;
}

.creative-store-list-of-color-wrapped-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.creative-store-list-of-color-item {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-bottom: 8px;
}
