.overriding-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    visibility: hidden;
    transition: all 0.75s ease-out;
}

/* width */
.overriding-container::-webkit-scrollbar {
    width: 0px;
}
  
/* Track */
.overriding-container::-webkit-scrollbar-track {
background: #0DA34D;
}

/* Handle */
.overriding-container::-webkit-scrollbar-thumb {
background: #0DA34D;
border-radius: 10px;
}

/* Handle on hover */
.overriding-container::-webkit-scrollbar-thumb:hover {
background: #0DA34D;
}

.overriding-container-view{
    z-index: 1002 !important;
    // opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0%) !important;
}

.overriding-wrapper{
    margin: 0px auto;
    max-width: 1980px;
    display: flex;
    flex-direction: column;
}