// MODAL STYLES //
.new-password-modal-container {
  z-index: 1001;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  max-height: 80vh;

  @media screen and (max-width: 768px) {
    max-width: 100vw;
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
  }
}

.new-password-modal-wrapper {
  max-height: 100svh;
  margin: auto 0px;
  padding: 1.25em;
  position: relative;
  align-items: flex-start;
  -webkit-box-align: center;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    top: 12px;
    height: 100svh;
  }
}

// MAIN STYLES //
.new-password-container {
  min-height: 100vmin;
  min-width: 100%;
  display: flex;
  position: relative;
  top: -80px;

  @media screen and (max-width: 768px) {
    top: 0px;
  }
}

.new-password-wrapper {
  width: 40vw;
  margin: 0px auto;
  position: relative;
  align-self: center;
  align-items: flex-start;
  justify-self: center;
  -webkit-box-align: center;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1280px) {
    width: 60vw;
  }
  @media screen and (max-width: 768px) {
    width: 80vw;
  }
}

.new-password-input-title {
  width: 100px;
  margin: 10px 10px 0px 0px !important;
}

.new-password-textinput-box {
  margin-top: 12px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.new-password-textinput {
  padding: 6px 0px;
  border-radius: 8px;
  text-decoration: none;
  outline: none;
  font-size: large;
  background-color: #fff;
}

.new-password-button {
  margin-top: 12px;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.new-password-button-text {
  margin: 6px !important;
}

.new-password-forgot-pass {
  align-self: flex-start;
}

.new-password-middle-text {
  align-self: center;
}

.new-password-open-auths {
  align-self: center;
  display: flex;
  flex-direction: row;
}

.new-password-open-auths-button {
  margin-top: 12px;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin-right: 6px;
}

.new-password-open-auths-button img {
  height: 40px;
  width: 40px;
}

.new-password-open-auths-button:last-child {
  margin-right: 0px !important;
}
