@mixin text-ellipsis() {
  white-space: wrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

// MAIN STYLES //
.dashboard-reminder-container {
  height: fit-content;
  width: 100%;
  padding: 1em 0em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.dashboard-reminder-wrapper {
  margin: 0px auto;
  align-items: center;
  -webkit-box-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-reminder-wrapper * {
  box-sizing: border-box;
}

.dashboard-reminder-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  margin-top: 1em;
}

// HEADER //
.dashboard-reminder-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 12px;
  border-radius: 1em;
}

.dashboard-reminder-searchbar-container {
  flex: 0 0 100%;
  margin-bottom: 12px;
}

.dashboard-reminder-searchbar-wrapper {
  display: flex;
  flex-direction: row;
  border-right: 6px solid transparent;
}

.dashboard-reminder-searchbar-input {
  margin-right: 6px;
}

.dashboard-reminder-tools-container {
  flex: 100%;
}

.dashboard-reminder-tools-wrapper {
  display: flex;
  flex-direction: row;
}

.dashboard-reminder-checkbox {
  flex: 50%;
}

.dashboard-reminder-checkbox-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.dashboard-reminder-checkbox-item {
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.dashboard-reminder-dropdown-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 50%;
  justify-content: flex-end;
  align-items: center;
}

.dashboard-reminder-dropdown-item {
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.dashboard-reminder-add-button {
  width: 100%;
  display: flex;
  height: auto;
  padding: 12px;
  border-radius: 1em;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.dashboard-reminder-add-button:hover {
  background-color: #0da34d;
}

.dashboard-reminder-add-button:hover span {
  color: #fff !important;
  transition: all 0.25s ease-in-out;
}

// BODY //
.dashboard-reminder-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  height: auto;
  padding: 12px;
  border-radius: 1em;
}

.dashboard-reminder-body-items {
  padding: 6px;
}

.dashboard-reminder-body-identifier {
  flex: 20%;
  flex-wrap: wrap;
  height: auto;
  @include text-ellipsis();
}

.dashboard-reminder-body-identifier * {
  @include text-ellipsis();
}

.dashboard-reminder-identifier-img-wrapper {
  height: auto;
  width: auto;
}

.dashboard-reminder-body-textarea {
  flex: 80%;
  flex-wrap: wrap;
  height: auto;
  @include text-ellipsis();
}

.dashboard-reminder-body-textarea * {
  @include text-ellipsis();
}

.dashboard-reminder-body-options {
  flex: 20%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  @include text-ellipsis();
}

.dashboard-reminder-body-options * {
  @include text-ellipsis();
}

.dashboard-reminder-paging {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 12px;
  transition: all 0.25s ease-in-out;
}

.dashboard-reminder-paging-button {
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
  margin-right: 6px;
  transition: all 0.25s ease-in-out;
}

.dashboard-reminder-paging-button:last-child {
  margin-right: 0px !important;
}

.dashboard-reminder-paging-button:hover {
  background-color: #0da34d;
}

.dashboard-menu-button-pin {
  background-image: url("../../assets/svg/pinned-solid.svg");
}

.dashboard-menu-button-archive {
  background-image: url("../../assets/svg/trash-solid.svg");
}
