// MAIN STYLES //
.product-search-container {
  min-height: 100vh;
  min-width: 100vw;
  padding-bottom: 10vh;
  padding-top: 80px;
}

.product-search-wrapper {
  width: 60vw;
  margin: 0px auto;
  position: relative;
  align-items: center;
  -webkit-box-align: center;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1280px) {
    width: 80vw;
  }
}

.product-search-button {
  margin: 0px auto;
  text-align: center;
  max-width: fit-content;
}

.product-search-breadcrumbs {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.product-search-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.product-search-title h2 {
  margin-top: 0px !important;
}

.product-search-flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  box-sizing: border-box;
  min-height: 1280px;
  background-color: #151515;
  border-radius: 1em;
}

.product-search-tools-container {
  box-sizing: border-box;
  flex: 0 0 18%;
  max-width: 18%;
  display: block;
  background-color: #1c1d1d;
  height: fit-content;
  padding: 0.5em;
  border-radius: 1em;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.product-search-accordion-wrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  position: relative;
  margin-bottom: 1em;
}

.product-search-accordion-title {
  display: block;
  position: relative;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: initial;
  margin: 0px;
}

.product-search-accordion-subtitle {
  display: block;
  position: relative;
  font-weight: 800;
  font-size: 1rem;
  line-height: 18px;
  letter-spacing: 0px;
  text-decoration: initial;
  text-align: left;
  margin: 0px;
  margin-left: 4px;
}

.product-search-accordion-lists-container {
  transform: scaleY(1);
  transform-origin: center top;
  transition: height 240ms ease-out 0s,
    transform 240ms ease-out 0s;
  width: 100%;
}

.product-search-cards-container {
  padding-right: 4px;
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 82%;
  display: block;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 1000px) {
    max-width: 100%;
    padding-left: 0px;
  }
}

.product-search-cards-top-header-container {
  display: flex;
  flex-direction: row;
  border-radius: 24px;
  justify-content: flex-start;
  padding: 0px 0px 18px 0px;

  @media screen and (max-width: 2500px) {
    padding: 0px 0px 12px 0px;
  }
}

.product-search-filter-button {
  border-style: none;
  cursor: pointer;
  border-radius: 100px;
  height: 60px !important;
  width: 60px !important;
  transition: all 0.3s ease-in-out;
  background-image: url("../../assets//svg/filter-solid.svg");
  background-repeat: no-repeat;
  background-position: center center;
  justify-self: center;
  align-self: center;
  display: none;
  margin-right: 18px;
  background-color: transparent;
  box-shadow: none !important;

  @media screen and (max-width: 2500px) {
    margin-right: 12px;
  }

  @media screen and (max-width: 1000px) {
    display: flex;
  }

  @media screen and (max-width: 768px) {
    width: 40px !important;
    height: 40px !important;
  }
}

.product-search-cards-tag-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  align-items: center;
  -webkit-box-align: center;
  justify-content: flex-start;
  cursor: grab;
}

/* Scrollbar */
/* width */
.product-search-cards-tag-container::-webkit-scrollbar {
  display: none;
}

.product-search-cards-header {
  background-color: #1c1d1d;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: fit-content;
  padding: 1em;
  border-radius: 1em;
}

.product-search-cards-counter {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  line-height: 1.5em;
  box-sizing: border-box;
  font-size: 0.85rem;
  color: #fff;
  margin-right: 8px;
}

.product-search-cards-wrapper {
  border-radius: 1em;
  padding: 1em 0px;
  padding-top: 0px !important;
}

.product-search-cards-button-wrapper {
  border-radius: 1em;
  padding: 1em;
  padding-top: 0px !important;
}

.product-search-cards-grid-wrapper {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  border-radius: inherit;
  align-items: center;
  -webkit-box-align: center;
  justify-content: flex-start;
  cursor: grab;
  padding: 18px 0px;
  padding-bottom: 0px !important;

  @media screen and (max-width: 2500px) {
    padding: 12px 0px;
  }
}

.product-search-dropdown-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-start;
  height: inherit;
}

.product-search-accordion-button {
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  margin-left: 8px;
  margin-top: 8px;
  padding: 0px;
}

/* Scrollbar */
/* width */
.product-search-cards-grid-wrapper::-webkit-scrollbar {
  display: none;
}

/* Track */
.product-search-cards-grid-wrapper::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
.product-search-cards-grid-wrapper::-webkit-scrollbar-thumb {
  background: inherit;
  border-radius: 10px;
}

/* Handle on hover */
.product-search-cards-grid-wrapper::-webkit-scrollbar-thumb:hover {
  background: inherit;
}

// MOBILE //

.product-search-mobile-tools-container {
  height: 100%;
  width: fit-content;
  padding: 6px;
  background-color: #0da34d;
  display: flex;
  flex-direction: column;
}
