.dynamic-accordion-wrapper{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    position: relative;
    margin-bottom: 1em;
}

.dynamic-accordion-button-wrapper{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.dynamic-accordion-button{
    display: flex;
    width: stretch;
    padding: 10px 8px 9px 12px;
    border: none;
    background-color:transparent;
    cursor: pointer;
    appearance: none;
}

.dynamic-accordion-button:hover{
    opacity: 0.6;
}

.dynamic-accordion-title{
    display: block;
    position: relative;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: initial;
    overflow-wrap: break-word;
    margin: 0px;
    width: 100%
}

.dynamic-accordion-title-prefixes{
    display: flex;
    flex-direction: row;
    margin-right: 6px;
}

.dynamic-accordion-button-label-caret{
    display: flex;
    content: "";
    background-image: url('../../assets/svg/caret-down-solid.svg');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 280ms ease 0s, background-color 0.12s ease 0s;
    transform: rotate(0deg);
    border-radius: 50%;
}

.dynamic-accordion-button-label-plus{
    display: flex;
    content: "";
    background-image: url('../../assets/svg/square-plus-solid.svg');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 280ms ease 0s, background-color 0.12s ease 0s;
    transform: rotate(0deg);
    border-radius: 50%;
}

.dynamic-accordion-subtitle{
    display: block;
    position: relative;
    font-weight: 800;
    font-size: 1rem;
    line-height: 18px;
    letter-spacing: 0px;
    text-decoration: initial;
    text-align: left;
    margin: 0px;
    margin-left: 4px;
}

.dynamic-accordion-lists-container{
    transition: max-height 0.2s ease-in-out;
    width: 100%;
    max-height: fit-content;
    overflow: hidden;
    overflow-y: scroll;
}

.dynamic-accordion-lists-container::-webkit-scrollbar {
    display: none;
}