// MAIN STYLES //
.dashboard-home-container{
    min-height: 100vh;
    height: auto;
    width: auto;
    padding: 3em 0em;
    margin-bottom: 1em;
}

.dashboard-home-wrapper{
    margin: 0px auto;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-home-flex-item-number{
    font-size: 96px;

    @media screen and (max-width: 680px){
        font-size: 2em;
    }
}

.dashboard-home-grid-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    'statistic statistic item1 item2'
    'statistic statistic item3 item4'
    'small1 small1 small2 small2'
    'big1 big1 big1 big1';
    gap: 12px;
    margin-bottom: 12px;

    @media screen and (max-width: 1280px){
        grid-template-areas:
    'statistic statistic'
    'statistic statistic'
    'item1 item2'
    'item3 item4'
    'small1 small2'
    'big1 big1';
    }
}

.dashboard-home-grid-item{
    border-radius: 1em;
}

.dashboard-home-grid-item-big{
    min-height: fit-content;
    min-width: 50%;
    width: 100%;
    border-radius: 12px;
    padding: 1em;
    box-sizing: border-box;
}

.dashboard-home-grid-item-small{
    cursor: pointer;
    min-height: 100px;
    min-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
}

.dashboard-home-grid-item-small img{
    @media screen and (max-width: 680px){
        margin-top: 1em !important;
    }
}

.dashboard-home-grid-item-statistic{
    grid-area: statistic;
    min-height: fit-content;
    min-width: 100%;
    width: fit-content;
    border-radius: 12px;
}

.dashboard-home-grid-item-1{
    grid-area: item1;
}

.dashboard-home-grid-item-2{
    grid-area: item2;
}

.dashboard-home-grid-item-3{
    grid-area: item3;
}

.dashboard-home-grid-item-4{
    grid-area: item4;
}

.dashboard-home-grid-big-1{
    grid-area: big1;
}

.dashboard-home-grid-small-1{
    grid-area: small1;
}

.dashboard-home-grid-small-2{
    grid-area: small2;
}

.dashboard-home-grid-item-icon{
    height: 2em;
}