.spinner-container {
  z-index: 10000;
  padding: 0px;

  @media screen and (min-width: 768px) {
    padding: 12px;
    background-color: transparent !important;
  }
}

.spinner-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-inline-size: 100vw;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  margin: 0px !important;
}

.spinner-logo-img {
  z-index: 9999;
  height: 240px;
  width: 240px;
  cursor: pointer;
}
