@mixin shrink-padding($isCounter: false) {
  @media screen and (max-width: 1280px) {
    @if $isCounter {
      padding: 0px 12px;
    } @else {
      padding: 0px 10px;
    }
  }
  @media screen and (max-width: 1000px) {
    @if $isCounter {
      padding: 0px 8px;
    } @else {
      padding: 0px 6px;
    }
  }
  @media screen and (max-width: 768px) {
    @if $isCounter {
      padding: 0px 6px;
    } @else {
      padding: 0px 4px;
    }
  }
}

.card-container {
  border-radius: inherit;
  max-inline-size: 200px;
  width: auto;
  height: auto;
  overflow-wrap: break-word;
  box-sizing: border-box;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px !important;
  margin: auto 0px;
  margin-right: 12px !important;
  background-color: #1c1d1d;
  cursor: inherit;
  transition: all 0.3s ease-in-out;
}

.card-container:last-child {
  margin-right: 0px !important;
}

.card-container:hover {
  background-color: #0da34d !important;
  color: #fff !important;
}

.card-img {
  display: flex;
  margin: auto;
  border-radius: 12px;
  background-size: cover;
  width: 175px;
  height: 175px;
  background-repeat: no-repeat;
}

.card-container h1 {
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  max-inline-size: 100%;
  text-overflow: ellipsis;
}

.card-container:hover h1 {
  color: #fff !important;
}

.card-container h3 {
  margin-top: 0px;
  white-space: nowrap;
  overflow: hidden;
  max-inline-size: 100%;
  text-overflow: ellipsis;
}

.card-container:hover h3 {
  color: #fff !important;
}

.card-container p {
  white-space: nowrap;
  overflow: hidden;
  max-inline-size: 100%;
  text-overflow: ellipsis;
}

.card-container:hover p {
  color: #fff !important;
}
