.multi-upload-picture-box {
  width: 100%;
  padding: 12px;
  cursor: pointer;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  margin: 12px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: break-spaces;
  overflow-x: hidden;
  overflow-y: scroll;
}

.multi-upload-picture-field {
  flex: 1;
}

.multi-upload-picture-list {
  flex: 1;
  padding: 12px;
}

.multi-upload-dropzone-box {
  padding: 12px 15px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  border: 5px dashed rgb(29, 29, 29);
  flex-direction: column;
}

.multi-upload-custom-typography {
  color: #918f8f;
}

.multi-upload-icon-img {
  height: 50vh;
  width: 100vw;
  max-width: 100%;
}

.multi-upload-file-text {
  margin: 0px 12px;
  font-weight: bold;
  word-break: break-all;
}

.multi-upload-file-list-container {
  margin-bottom: 12px;
  align-items: center;
  display: flex;
  width: 100%;
}

.multi-upload-file-list {
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  width: 100%;
}

.multi-upload-file-img {
  height: 75px;
  max-height: 75px;
  min-height: 75px;
  width: 75px;
  max-width: 75px;
  min-width: 75px;
}

.multi-upload-red {
  color: #d32f2f;
}

.multi-upload-button {
  margin-top: 12px;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.multi-upload-button-text {
  margin: 6px !important;
}
