// MODAL STYLES //
.add-product-modal-container {
  z-index: 1001;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  max-height: 80vh;

  @media screen and (max-width: 768px) {
    max-width: 100vw;
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
  }
}

.add-product-modal-wrapper {
  max-height: 100svh;
  margin: auto 0px;
  padding: 1.25em;
  position: relative;
  align-items: flex-start;
  -webkit-box-align: center;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    top: 12px;
    height: 100svh;
  }
}

.add-product-modal-button {
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 6px !important;
  width: 24px;
  height: 24px;
}

.add-product-modal-button-text {
  margin: 6px !important;
}

// MAIN STYLES //
.add-product-container {
  min-height: 100vh;
  min-width: 100vw;
  padding-bottom: 10vh;
  padding-top: 80px;
}

.add-product-wrapper {
  width: 80vw;
  margin: 0px auto;
  position: relative;
  align-items: center;
  -webkit-box-align: center;
  display: flex;
  flex-direction: column;
}

.add-product-text-container {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
}

.add-product-text-wrapper {
  width: 40vw;
  margin: 0px auto;
  position: relative;
  align-self: center;
  align-items: flex-start;
  justify-self: center;
  -webkit-box-align: center;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1280px) {
    width: 60vw;
  }
  @media screen and (max-width: 768px) {
    width: 80vw;
  }
}

.add-product-input-title {
  width: 120px;
  max-width: 120px;
  min-width: 120px;
  margin: 10px 10px 0px 0px;
}

.add-product-textinput-box {
  margin-top: 12px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.add-product-textinput {
  padding: 6px;
  border-radius: 8px;
  width: 100%;
  max-height: 20px;
  text-decoration: none;
  outline: none;
  text-align: start;
  font-size: large;
  background-color: rgb(29, 29, 29);
  color: #fff;
}

.add-product-button {
  margin-top: 12px;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.add-product-button-text {
  margin: 6px !important;
}

.add-product-button-back-text {
  margin: 0px !important;
}

.add-product-longtext-area {
  border-radius: 6px !important;
  margin: 8px 0px;
  min-height: 200px;
  background-color: rgb(28, 29, 29) !important;
  color: white;
  text-align: start;
}
