.finder-container{
    min-height: 100vh;
    min-width: 100vw;
    padding-bottom: 10vh;
    padding-top: 160px;
    @media screen and (max-width: 1000px){
        padding-top: 80px;
    }
}

.finder-wrapper{
    width: 60vw;
    margin: 0px auto;
    position: relative;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1280px){
        width: 80vw;
    }
}

.finder-breadcrumbs{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.finder-title{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.finder-title h2{
    margin-top: 0px !important;
}

.finder-flex-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
    box-sizing: border-box;
}

.finder-tools-container{
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    flex: 0 0 18%;
    max-width: 18%;
    border: 1px solid #fff; //TODO: APUSNTR
    display: block;

    @media screen and (max-width: 768px){
        display: none;
    }
}

.finder-cards-container{
    border: 1px solid #fff; //TODO: APUSNTR
    padding-right: 4px;
    box-sizing: border-box;
    flex: 0 0 100%;
    max-width: 82%;
    display: block;
    padding-left: 30px;

    @media screen and (max-width: 768px){
        max-width: 100%;
    }
}

.finder-cards-header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 60px;
}

.finder-cards-counter{
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    line-height: 1.5em;
    box-sizing: border-box;
    font-size: 0.85rem;
    color: #fff;
}