@mixin text-wrap() {
    white-space: wrap !important;
    overflow-y: scroll !important;
    //text-overflow: ellipsis !important;
}

// MAIN STYLES //
.creative-store-container{
    min-width: 100vw;
    margin-top: 12px;
    //overflow: hidden;
}

.creative-store-wrapper{
    width: calc(100vw - 20px);
    margin: 0px auto;
    position: relative;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    flex-direction: column;
}

.creative-store-button{
    margin: 0px auto;
    text-align: center;
    background-color: transparent !important;
    border: 1px solid #0DA34D;
    color: #0DA34D;
    max-width: 150px;
}

.creative-store-button:hover{
    transform: scale(1) !important;
    background-color: #0DA34D !important;
    color: #fff;
}

.creative-store-flex-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    box-sizing: border-box;
    height: calc(100vh - 24px);
    background-color: #151515;
    border-radius: 1em;
}

.creative-store-tools-container{
    box-sizing: border-box;
    flex: 0 0 12%;
    max-width: 12%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    max-height: 100%;
    overflow-y: hidden;

    @media screen and (max-width: 1920px){
        flex: 0 0 18%;
        max-width: 18%;
    }

    @media screen and (max-width: 1280px){
        flex: 0 0 30%;
        max-width: 30%;
    }
    
    @media screen and (max-width: 1000px){
        display: none;
    }
}

.creative-store-tools-sub-container{
    border-radius: 1em;
    transition: all 0.3s ease-in-out;
    background-color: #1c1d1d;
}

.creative-store-avatar{
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.creative-store-avatar-container{
    padding: 6px;
    height: 100px;
    width: fit-content;
}

.creative-store-identifier-img-wrapper{
    height: 100%;
}

.creative-store-header{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: stretch;
    height: 100px;
    padding: 6px 8px 10px 12px;
    border: none;
    background-color: transparent;
}

.creative-store-store-title{
    margin: 0px !important;
    height: fit-content;
    margin-bottom: 6px !important;
}

.creative-store-store-label{
    width: 100%;
    height: auto;
    margin: 0px !important;
    @include text-wrap();
}

.creative-store-store-label::-webkit-scrollbar {
    display: none;
}

.creative-store-add-menu{
    margin-top: 12px;
    height: 40px;
    background-color: transparent !important;
    cursor: pointer;
}

.creative-store-add-menu-wording{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border: 1px solid #0DA34D;
    border-radius: 1em;
    background-color: transparent;
    appearance: none;
    transition: all 0.1s ease-in-out;
}

.creative-store-add-menu-wording:hover {
    opacity: 0.6;
}

.creative-store-plus-button{
    height: 20px;
    margin-left: 10px;
}

.creative-store-scrollable-menu{
    overflow-y: scroll;
    margin-top: 12px;
    height: stretch;
    // --containerH: calc(100vh - 12px);
    // --differenceH: 204px;
    // height: calc(var(--containerH) - var(--differenceH));
}

.creative-store-scrollable-menu-container{
    height: fit-content;
}

.creative-store-scrollable-menu::-webkit-scrollbar {
    display: none;
}

.creative-store-dynamic-accordion-button{
    display: flex;
    flex-direction: column;
}

.creative-store-dynamic-accordion-socket-wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px 8px 9px 12px;
}

.creative-store-dynamic-accordion-socket-wrapper *{
    font-size: 1.25em;
    padding: 4px;
}

.creative-store-body-container{
    position: relative;
    padding-left: 12px;
    box-sizing: border-box;
    flex: 0 0 88%;
    max-width: 88%;
    display: flex;
    flex-direction: column;
    height: 100%;

    @media screen and (max-width: 1920px){
        flex: 0 0 82%;
        max-width: 82%;
    }

    @media screen and (max-width: 1280px){
        flex: 0 0 70%;
        max-width: 70%;
    }

    @media screen and (max-width: 1000px){
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0px;
    }
}

.creative-store-body-header-container{
    display: flex;
    flex-direction: row;
    border-radius: 1em;
    height: 60px;
    width: 100%;
    background-color: #1c1d1d;
    justify-content: space-between;
    padding: 9px;
    box-sizing: border-box;
}

.creative-store-body-header-left{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-self: center;
    color: #fff;
}

.creative-store-filter-button{
    border-style: none;
    cursor: pointer;
    border-radius: 100px;
    height: 40px !important;
    width: 40px !important;
    transition: all 0.3s ease-in-out;
    background-image: url('../../assets//svg/filter-solid.svg');
    background-repeat: no-repeat;
    background-position: center center;
    justify-self: center;
    align-self: center;
    display: none;
    margin-right: 18px;
    background-color: transparent;
    box-shadow: none !important;

    @media screen and (max-width: 2500px){
        margin-right: 12px;
    }

    @media screen and (max-width: 1000px){
        display: flex;
    }
}

.creative-store-hamburg-menu-button{
    cursor: pointer;
    height: 40px !important;
    width: 40px !important;
    transition: all 0.3s ease-in-out;
    background-image: url('../../assets/svg/ic_hamburg_3.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    justify-self: center;
    align-self: center;
    display: flex;
    background-color: transparent;
}

.creative-store-cards-tag-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    border-radius: 24px;
    align-items: center;
    -webkit-box-align: center;
    justify-content: flex-start;
    cursor: grab;
}

/* Scrollbar */
/* width */
.creative-store-cards-tag-container::-webkit-scrollbar {
    display: none;
}

.creative-store-chatbody-container{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    height: stretch;
    border-radius: 1em;
    padding: 12px;
}

.creative-store-chatbody-wrapper{
    width: stretch;
    height: stretch;
    overflow-y: scroll;
}

.creative-store-chatbody-wrapper::-webkit-scrollbar{
    display: none;
}

/* Scrollbar */
/* width */
.creative-store-cards-grid-wrapper::-webkit-scrollbar {
    display: none;
}
  
/* Track */
.creative-store-cards-grid-wrapper::-webkit-scrollbar-track {
background: inherit;
}
  
/* Handle */
.creative-store-cards-grid-wrapper::-webkit-scrollbar-thumb {
background: inherit;
border-radius: 10px;
}
  
/* Handle on hover */
.creative-store-cards-grid-wrapper::-webkit-scrollbar-thumb:hover {
background: inherit;
}

.creative-store-chat-container{
    margin-top: 12px;
    margin-bottom: 12px;
    width: stretch;
    display: flex;
    flex-direction: row;
}

.creative-store-chat-textinput{
    color: #151515;
    margin-right: 6px;
}

// MOBILE //

.creative-store-mobile-tools-container{
    height: 100%;
    width: fit-content;
    padding: 6px;
    background-color: #0DA34D;
    display: flex;
    flex-direction: column;
}