@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

/* Fonts */
* {
  font-family: 'Share Tech', sans-serif;
}

/* Colors */
.main-color{
  color: #0DA34D;
}

.main-bg-color{
  background-color: #0DA34D;
}

.dark-color{
  color: rgb(28, 29, 29);
}

.dark-bg-color{
  background-color: rgb(28, 29, 29);
}

.darker-color{
  color: #151515 !important;
}

.darker-bg-color{
  background-color: #151515 !important;
}

.light-color{
  color: aliceblue;
}

.light-bg-color{
  background-color: aliceblue;
}

.lighter-color{
  color: #fff;
}

.lighter-bg-color{
  background-color: #fff;
}

.red-color{
  color: rgb(254, 44, 85);
}

.red-bg-color{
  background-color: rgb(254, 44, 85);
}

/* Global Class Properties */
.sticky-top{
  position: sticky !important;
  top: 0px !important;
  z-index: 999 !important;
}

.fixed-top{
  position: fixed !important;
  top: 0px !important;
  z-index: 999 !important;
}

.hidden{
  opacity: 0 !important;
}

.break-word{
 overflow-wrap: break-word !important; 
}

.text-ellipsis{
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.max-width{
 max-width: 100% !important;
}

.full-width{
  width: 100% !important;
 }

.margin-bottom-0{
  margin-bottom: 0px !important;
}

.margin-top-0{
  margin-top: 0px !important;
}

.cursor-pointer{
  cursor: pointer;
}

.justify-center{
  justify-content: center;
}

.white-space-no-wrap{
  white-space: nowrap !important;
}

.margin-top-12-18{
  margin-top: 18px;
  @media screen and (max-width: 2500px){
    margin-top: 12px;
  }
}

.padding-top-12-18{
  padding-top: 18px;
  @media screen and (max-width: 2500px){
    padding-top: 12px;
  }
}

.margin-top-bottom-12-18{
  margin: 18px 0px;
  @media screen and (max-width: 2500px){
    margin: 12px 0px;
  }
}

.padding-top-bottom-12-18{
  padding: 18px 0px;
  @media screen and (max-width: 2500px){
    padding: 12px 0px;
  }
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #151515;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/* Handle grid event*/
/* This is specific a only event for 2 column grid*/
@mixin grid-template-areas($imgStart: false) {
  @if $imgStart {
      grid-template-areas: 'col2 col1';
  }

  @else {
      grid-template-areas: 'col1 col2';
  }

  @media screen and (max-width: 1200px) {
      @if $imgStart {
          grid-template-areas:
              'col1'
              'col2';
      }

      @else {
          grid-template-areas:
              'col1 col1'
              'col2 col2';
      }
  }
}

.grid-true {
  @include grid-template-areas($imgStart: true)
}

.grid-false {
  @include grid-template-areas($imgStart: false)
}

// APP COMPONENT // 
.fixed-app-button{
  width: 60px !important;
  height: 60px !important;
  padding: 12px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 768px) {
    width: 40px !important;
    height: 40px !important;
  }
}