// MAIN STYLES //
.remote-container{
    min-height: 100vh;
    min-width: 100vw;
    padding-bottom: 10vh;
    padding-top: 160px;
    @media screen and (max-width: 1000px){
        padding-top: 80px;
    }
}

.remote-wrapper{
    width: 60vw;
    margin: 0px auto;
    position: relative;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1280px){
        width: 80vw;
    }
}

.remote-title{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.remote-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
    height: auto;
    padding: 12px;
    border-radius: 1em;
}

.remote-searchbar-container{
    flex: 0 0 100%;
}

.remote-searchbar-wrapper{
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.remote-tools-container{
    flex: 0 0 100%;
}

.remote-tools-wrapper{
    display: flex;
    flex-direction: row;
    gap: 6px;
}